@charset "utf-8";
*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}
li{list-style: none;}
a{text-decoration: none; color: #000;}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
em {font-style: normal;}
input{
    width: 100%;
    height: 33px;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 15px;
    box-sizing: border-box;
    border: 1px solid #c2c2c2;
    background: #fff;
}

html { font-size: 62.5%; font-family: "Noto Sans KR", sans-serif; letter-spacing: -0.05rem;} /* 1rem = 10px */

.w_100p{width: 100%;}
.w_900{max-width: 900px; margin: 0 auto; width: 100%;}
.w_940{max-width: 940px; margin: 0 auto; width: 100%;}
.w_980{max-width: 980px; margin: 0 auto; width: 100%;}
.w_1034{max-width: 1034px; margin: 0 auto; width: 100%;}
.w_1170{max-width: 1170px; margin: 0 auto; width: 100%;}
.w_1200{max-width: 1200px; margin: 0 auto; width: 100%;}
.w_1280{max-width: 1280px; margin: 0 auto; width: 100%;}
.w_1357{max-width: 1357px; margin: 0 auto; width: 100%;}
.w_1400{max-width: 1400px; margin: 0 auto; width: 100%;}
.w_1440{max-width: 1440px; margin: 0 auto; width: 100%;}
.w_1700{max-width: 1700px; margin: 0 auto; width: 100%;}

.h_100p{height: 100%;}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    }

:root {
    --main: #0049a6;
    --sub: #0ba2de;
    --bsub: #1aa9e2;
    --green: #007e95;
    --grey: #9f9f9f;
    --purple: #4818a8;
    --red: #fa5353;
    --radius: 25px;
    --btn_radius: 7px;
}

.b_grey{border: 1px solid #bfbfbf;}
.border_cfcfcf{border: 1px solid #cfcfcf;}
.b_radius20{border-radius: 20px;}

.f_12px{font-size: 1.2rem;}
.f_13px{font-size: 1.3rem;}
.f_14px{font-size: 1.4rem;}
.f_15px{font-size: 1.5rem;}
.f_16px{font-size: 1.6rem;}
.f_17px{font-size: 1.7rem;}
.f_18px{font-size: 1.8rem;}
.f_19px{font-size: 1.9rem;}
.f_20px{font-size: 2.0rem;}
.f_21px{font-size: 2.1rem;}
.f_22px{font-size: 2.2rem;}
.f_24px{font-size: 2.4rem;}
.f_26px{font-size: 2.6rem;}
.f_28px{font-size: 2.8rem;}
.f_30px{font-size: 3rem;}
.f_34px{font-size: 3.4rem;}
.f_35px{font-size: 3.5rem; line-height: 4.5rem;}
.f_36px{font-size: 3.6rem;}
.f_40px{font-size: 4rem;}
.f_42px{font-size: 4.2rem;}
.f_45px{font-size: 4.5rem;}
.f_47px{font-size: 4.7rem;}
.f_48px{font-size: 4.8rem;}
.f_60px{font-size: 6rem;}
.f_72px{font-size: 7.2rem;}
.f_bold{font-weight: 800 !important;}
.f_mid{font-weight: 600 !important;}
.f_light{font-weight: 400 !important;}

.c_main{color: var(--main)}
.c_bsub{color: var(--bsub)}
.c_red {color: var(--red);}

.d-flex{display: -ms-flexbox !important; display: flex !important;}
.justify-content-center {-ms-flex-pack: center !important; justify-content: center !important; }
.justify-content-between {-ms-flex-pack: space-between !important; justify-content: space-between !important; }
.align-items-center {-ms-flex-align: center !important; align-items: center !important; }
.flex-column {-ms-flex-direction: column !important; flex-direction: column !important; }

.m_br {display: none;}
.pc_none_480{display: none;}
.mob_none_480{display: flex;}
.pc_none_768{display: none;}
.mob_none_768{display: flex;}
.pc_none_980{display: none;}
.mob_none_980{display: flex;}
.pc_none_1500{display: none;}
.mob_none_1500{display: flex;}

#wrap{margin-top: 105px;}
section{position: relative;}

.arrow{
	width: 0;
	height: 0;
	border: 7px solid transparent;
    display: block;
}
.arrow-up{
    border-top: 0;
	border-bottom: 7px solid #fff;/* 화살표 */
}
.arrow-down{
    border-bottom: 0;
	border-top: 7px solid #fff;/* 화살표 */
}
.arrow-left{
    border-left: 0;
	border-right: 7px solid #fff;/* 화살표 */
}
.arrow-right{
    border-right: 0;
	border-left: 7px solid #fff;/* 화살표 */
}

/* 버튼 */
.btn{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: var(--btn_radius);
    transition: filter 0.2s;
}
.btn:hover {
    filter: brightness(1.2);
}
.btn_main {
    background-color: var(--main);
}
.btn_grey {
    background-color: var(--grey);
}
.btn_blk {
    background-color: #585858 !important;
}
.btn_round{
    min-width: auto !important;
    border-radius: 3px;
}
.btn_grey_border {
    border: 1px solid var(--grey) !important;
    background-color: #fff !important;
    color: #858585 !important;
}
.btnWrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.btnWrap > *{
    width: 50%;
}
.btn .icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

input.input-grey {
    background: #f4f4f4 !important;
    color: #000000;
}

.mt0{margin-top: 0 !important;}
.mt18{margin-top: 18px !important;}
.mt35{margin-top: 35px !important;}
.mb0{margin-bottom: 0 !important;}
.mb35{margin-bottom: 35px !important;}
.pb0{padding-bottom: 0 !important;}
.bb0{border-bottom: 0 !important;}

.hidden{
    display: none;
}

/* header */
header{width: 100%; 
    /* position: fixed; z-index: 20; top: 0; */
}
#pc_header{background-color: #fff; height: 123px; transition: transform 0.3s ease; position: relative; }
#pc_header .pchd_logo{width: 290px; height: 123px; float: left;}
#pc_header .pchd_logo a{height: 123px; display: flex; align-items: center; position: absolute; z-index: 10;}
#pc_header .pchd_logo a img{object-fit: contain;}

#pc_menu_wrap .w_100p{position: relative; top: -0.1rem; height: 123px;}
#pc_menu_wrap {text-align: center; position: relative;}
#pc_menu_wrap .pcm_dep1{display: flex; position: absolute; 
    /* left: 650px;  */
    right: 315px;
    z-index: 20; font-size: 20px; 
    /* justify-content: center; */
    justify-content: flex-end;
}
#pc_menu_wrap .pcm_dep1 > li{height: 123px; border-bottom: 0px solid transparent; transition: border-bottom 0.3s, color 0.3s; }
#pc_menu_wrap .pcm_dep1 > li a{color: #000; font-weight: 600;}
#pc_menu_wrap .pcm_dep1 > li.active a {
    position: relative;
}
#pc_menu_wrap .pcm_dep1 > li.active a::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--main);
}
#pc_menu_wrap .pcm_dep1 > li > a{line-height: 123px; padding: 0 45px; height: 100%; display: flex; align-items: center; justify-content: center; white-space: nowrap;}
#pc_menu_wrap ul{text-align: center;}
#pc_menu_wrap ul li a{color: #000; font-weight: 600; line-height: 20px;}
#pc_menu_wrap .pcm_dep1 li:hover a{color: #000;}

#pc_menu_wrap .gnb_sub{width: 100%; height: 0; background-color: #fff; position: absolute; top: 123px;  z-index: 10; transition: height 0.3s ease-in-out; overflow: hidden; font-size: 16px;  border-top: 1px solid #d4d4d4;}
#pc_menu_wrap .gnb_sub.active{ border-bottom: 1px solid #d4d4d4; box-shadow: 0 10px 0px rgba(0, 0, 0, 0.13);}
#pc_menu_wrap .gnb_sub .pcm_dep2_wrap{display: flex; height: 100%; 
    /* justify-content: center; */
    justify-content: flex-end;
    position: absolute; 
    /* left: 650px; */
    right: 315px;
}
#pc_menu_wrap .pcm_dep2{padding-top: 20px; border-top: 0px solid transparent; transition: border-top 0.3s, color 0.3s; color: #858585; position: relative;}
#pc_menu_wrap .pcm_dep2.active{color: var(--main); overflow: visible;}
#pc_menu_wrap .pcm_dep2.active::before{
    width: 0;
	height: 0;
	border: 7px solid transparent; 
    border-right: 0;
	border-left: 4px solid var(--main);
}
#pc_menu_wrap .pcm_dep2_wrap ul li{min-height: 38px; height: auto;}
#pc_menu_wrap .pcm_dep2 li a:hover{color: var(--main); font-weight: 600; position: relative;}
#pc_menu_wrap .pcm_dep2 li a:hover::before{
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
	height: 0;
	border: 4px solid transparent; 
    border-right: 0;
	border-left: 4px solid var(--main);
}
.gnb .gnb1, .gnb_sub1{width:156px;}
.gnb .gnb2, .gnb_sub2{width:156px;}
.gnb .gnb3, .gnb_sub3{width:156px;}
.gnb .gnb4, .gnb_sub4{width:156px;}
.gnb .gnb5, .gnb_sub5{width:156px;}
.gnb .gnb6, .gnb_sub6{width:156px;}

.header_banner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.header_banner.left{
    left: 350px;
}
.header_banner.right{
    right: 85px;
}
/* quick menu 퀵메뉴  */
#quick{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    right: 83px;
    top: 183px;
    z-index: 9;
}
#quick .q_nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 11px;
}
#quick .q_nav li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: var(--main);
    transition: all 0.3s ease-in-out;
    transform-origin: right;
    overflow: hidden;
}
#quick .q_nav li a .icon_circle{
    display: flex;
}
#quick .q_nav li a .hidden{
    width: calc(100% - 52px);
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: translateX(20px);
    transition: transform 0.3s ease, opacity 0.5s ease;
    white-space: nowrap;
}
#quick .q_nav li a:hover{
    width: 144px;
}
#quick .q_nav li a:hover .hidden{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

/* footer */
/* pc */
#footer{
    height: 111px; 
    padding: 15px 0;
    background-color: #707070; 
    position: relative; 
}
#footer .f_menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 15px;
}

#footer .f_menu li{position: relative;}
#footer .f_menu li::after{
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 11px;
    background-color: #fff;
}
#footer .f_menu li:nth-last-of-type(1):after{
    display: none;
}
#footer .f_menu li a{
    color: #fff;
    font-size: 13px;
}
#footer .f_menu li a:hover{
    font-weight: 500;
}
#footer .foot_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}
#footer .foot_wrap address{
    font-size: 13px;
    color: #fff;
    font-style: normal;
}



/* policy 페이지 */
/* 이용약관 페이지 */
.policy {
    padding-top: 106px;
}
.provision_nav{margin-bottom: 60px;}
.provision_nav ul li a{font-size: 18px; line-height: 36px; color: #000; position: relative; display: inline-block;}
.provision_nav ul li a:hover{color: var(--main);}
.provision_nav ul li a:hover:after {
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    border: 6px solid transparent;
    border-right-width: 0;
    border-left-color: var(--main);
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}
.provision{
    width: 100%; 
    padding-top: 0 !important;
}
.border_gr{border: 1px solid #cfcfcf; padding: 20px 25px; margin-bottom: 35px;}
.provision .main_title{font-size: 28px; color: var(--main); font-weight: 500;}

.provision .main_box{width: 100%; margin-bottom: 30px;}
.provision .main_box .sub_title{
    min-height: 32px;
    height: auto;
    font-size: 32px; 
    font-weight: 600; 
    letter-spacing: -2px; 
    color: #000;
    border-bottom: 1px solid #cfcfcf; 
    position: relative; 
    text-align: left; 
    padding: 10px 25px ; 
    margin-bottom: 20px;
}
.provision .main_box .sub_title:after{
content: ' ';
height: 30px;
width: 12px;
position: absolute;
left: 0px; 
top: 54%;
transform: translateY(-50%);
background-color: var(--main);
}
.provision .main_box .sub_box{font-size: 20px; line-height: 34px; margin-bottom: 15px;}
.provision .main_box .sub_box p{margin-bottom: 10px;}
.provision .main_box .sub_box p:last-child{margin-bottom: 0px;}
.provision .main_box .sub_box p span{font-weight: 500;}
.provision .main_box .sub_box .sub_txt{padding-left: 18px; margin-bottom: 10px;}
.provision > .sub_box{font-size: 18px; line-height: 28px; font-weight: 500; margin-bottom: 15px;}
.provision > .sub_box p{margin-bottom: 10px;}
.provision > .sub_box p:last-child{margin-bottom: 0px;}
.provision .table-Wrap{
    width: 100%;
}
.provision table{
    width: 100%;
    margin-top: 14px;
}
.provision table tr{
    border-bottom: 1px solid #cfcfcf;
}
.provision table tr th{
    background-color: #f7f7f7;
    border-right: 1px solid #cfcfcf;
    
    padding: 25px 20px;
    box-sizing: border-box;
}
.provision table tr th:last-child{
    border-right: 0;
}
.provision table tr td{
    border-right: 1px solid #cfcfcf;
    padding: 25px 20px;
    box-sizing: border-box;
}
.provision table tr td:last-child{
    border-right: 0;
}

@media only screen and (max-width: 1800px) {
    #pc_menu_wrap .pcm_dep1{
        right: 50px;
    }
    #pc_menu_wrap .gnb_sub .pcm_dep2_wrap{
        right: 50px;
    }
    .header_banner.left{
        left: 50px;
    }
    .header_banner.right{
        display: none;
    }
}