@charset "utf-8";

#sub{
    padding: 55px 0 80px;
    background: url(../images/sub_bg.png) no-repeat center;
    background-position: center calc(100% + 115px);
}
.tap_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.tap_top .tab_wrap{
    width: 100%;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    border-bottom: 2px solid var(--sub);
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.tap_top .tab_wrap li{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #ededed;
    flex: 0 0 auto;
}
.tap_top .tab_wrap li.on{
    background-color: var(--sub);
    color: #fff;
}
.tap_top .tab_wrap li.on a{
    color: #fff;
}
.tap_top .tab_wrap li a{
    width: 100%;
    height: 100%;
    padding: 0px 49px 0px 15px;
    display: flex;
    align-items: center;
    position: relative;
}
.tap_top .tab_wrap li .closeBtn{
    position: absolute;
    right: 18px;
}
.tab_controls{
    width: 150px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    position: absolute;
    right: 0;
}
.tab_controls button{
    width: 24px;
    height: 24px;
    background: #fff;
    border: 1px solid #b2b8c9;
    border-radius: 3px;
}
.tab_controls .tab_close_all{
    width: 60px;
    font-size: 12px;
}

#sub .board_title{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 11px;
    border-bottom: 1px solid #000000;
    margin-bottom: 36px;
    margin-top: 50px;
}
#sub .board_title.board_top_title{
    padding-bottom: 11px;
    border-bottom: none;
    margin-bottom: 0px;
}
#sub .board_title div{
    display: flex;
    align-items: center;
}
#sub .board_title .board_name {
    gap: 10px;
}
#sub .board_title .board_name p{
    font-weight: 600;
}
#sub .board_title.board_top_title .board_name p{
    height: 75px;
}
#sub .board_title p.w_100p{
    height: 75px;
    font-weight: 700;
}
#sub .board_title .board_name .icon_circle{
    width: 45px;
    height: 45px;
    background-color: var(--main);
}
.search_area{
    /* width: 205px; */
    gap: 6px;
}
.search_area a{
    height: 40px;
    display: flex;
    gap: 7px;
    font-size: 16px;
    min-width: 100px;
    padding: 0 10px;
    box-sizing: border-box;
    white-space: nowrap;
}
.board_area{
    width: 100%;
}
.board_area .board_normal{
    width: 100%;
}
.board_area .board_normal tr{
    height: 60px;
}
.board_area .board_normal th{
    background-color: #eff6ff;
    padding: 0 20px;
}
.board_area .board_normal th,
.board_area .board_normal td{
    font-size: 15px;
    font-weight: 600;
}
.board_area .board_normal td{
    padding: 0 10px;
}
.board_area .board_normal td input{
    width: 100%;
    height: 33px;
    border: 1px solid #c2c2c2;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 15px;
}
.board_search .board_area .board_normal{
    border-top: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
}
.board_search .board_area .board_normal th,
.board_search .board_area .board_normal td{
    border-right: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    font-size: 15px;
    font-weight: 600;
}
.board_search .board_area .board_normal tr th{
    width: 220px;
    padding: 0 22px;
    text-align: left;
}
.board_search .board_area .board_normal td{
    width: 380px;
    padding: 12px 19px;
    box-sizing: border-box;
}
.board_search .board_area .board_normal td input[type="date"]{
    width: 150px;
    height: 34.5px;
}
.dash{
    width: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.date{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.date input[type="date"] {
    padding-right: 40px;
    height: 40px;
    position: relative;
}
/* 기본 캘린더 아이콘 숨기기 (크롬 기준) */
.date input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
/* 커스텀 아이콘 */
.date input[type="date"]::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 31px;
    /* height: 32px; */
    height: 35px;
    background: url(../images/ico_calendar.png) no-repeat center / contain;
    background-color: var(--sub);
    background-size: 17px 17px;
    pointer-events: none;
    border-left: 1px solid #c2c2c2;
}
.board_list .board_area .board_normal {
    border-left: 1px solid #c2c2c2;
    border-top: 1px solid #c2c2c2;
}
.board_list .board_area .board_normal th{
    position: relative;
    background-color: #f3f3f3;
    padding: 0 0px;
}
.board_list .board_area .board_normal th,
.board_list .board_area .board_normal td {
    border-right: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    text-align: center;
}
.board_list .board_area .board_normal td{
    padding: 0 5px;
    letter-spacing: -1px;
}
/* .board_list .board_area .board_normal th::after{
    content: "";
    display: flex;
    width: 1px;
    height: 18px;
    background-color: #858585;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
} */
.board_list .board_area .board_normal th:nth-last-of-type(1)::after{
    display: none;
}
.board_list .board_area .board_normal tr:not(:first-of-type){
    border-bottom: 1px solid #c8c8c8;
}

/* 회원가입 */
/* join01 */
.step {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.step::after{
    content: "";
    display: flex;
    width: 90%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    background: #e7eff7;
}
.step li {
    position: relative;
    width: 240px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    background: #e7eff7;
    font-size: 19px;
    font-weight: 500;
    box-sizing: border-box;
    border: 1px solid #c7c7c7;
    border-right: none;
    color: #6d6e6e;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
/* 화살표 */
.step li::after {
    content: "";
    position: absolute;
    top: -1px;
    right: -17px; /* 화살 길이 */
    background: url(../images/step_arrow.png) no-repeat center;
    width: 17px;
    height: 52px;
    z-index: 1;
}
.step li:first-child::before {
    display: none;
}
.step li.active {
    width: 224px;
    background: #2aa7df;
    color: #fff;
}
.step li.active::after {
    background: url(../images/step_arrow_active.png) no-repeat center;
}
.step strong{
    font-size: 22px;
}
fieldset{
    border: 0;
}
legend {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
input[type="radio"] {
    accent-color: var(--main);
    width: 17px;
    height: 17px;
}
input[type="radio"] + label{
    font-size: 15px;
    color: #6d6d6d;
    cursor: pointer;
}
.input_box{
    width: 400px;
    height: 50px;
    border: 1px solid #d1d1d1;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 25px;
    box-sizing: border-box;
}
.input_box::placeholder{
    color: #6d6d6d;
}
.notice_txt{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 25px;
}
.notice_txt::before{
    content: "";
    width: 18px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/ico_bang.png) no-repeat center;
}
.notice_txt span{
    color: var(--main);
    margin-left: 5px;
}
.join01 .board_contents .d-flex{
    gap: 15px;
}
.join01 .board_contents ul li{
    display: flex;
    align-items: center;
    gap: 7px;
}
.join01 .board_contents ul li:nth-child(1){
    margin-right: 15px;
}
.join01 .board_contents ul.d-flex{
    margin-bottom: 25px;
}
#board .board_contents.last {
    padding-bottom: 45px;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 30px;
}
.board_contents ~ .btn_wrap{
    display: flex;
    justify-content: right;
    gap: 6px;
}
.board_contents ~ .btn_wrap .btn{
    width: 100px;
    height: 40px;
}
/* join02 */
.terms_box .terms_content{
    height: 297px;
    border: 1px solid #d1d1d1;
    overflow-y: auto;
    padding: 30px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}
#board .checkbox-group .checkbox-label{
    font-size: 15px;
    color: #000000;
}
/* join03 */
.join_table{
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    color: #000;
}
.join_table th,
.join_table td {
    height: 60px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #c2c2c2;
    padding: 10px 15px;
    font-weight: 500;
}
.join_table th {
    background: #eff6ff;
    text-align: left;
    padding: 10px 25px;
    font-weight: 700;
}
.join_table input,
.join_table select {
    width: 100%;
    height: 33px;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 15px;
    box-sizing: border-box;
    border: 1px solid #c2c2c2;
    background: #fff;
}
/* 필수값 */
.join_table input:required,
.join_table select:required  {
    background: #fffbf1;
}
/* 수정 불가 + 값 있음 */
.join_table input[readonly],
.join_table input[disabled] {
    background: #f4f4f4;
    color: #000000;
}

.flex {
    display: flex;
    gap: 8px;
}
.flex button {
    padding: 0 12px;
    background: #a1a1a1;
    color: #fff;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}
.file-input {
    position: absolute;
    left: -9999px;
}
.download-btn{
    background-color: #1aa9e2 !important;
}
.preview-box {
    width: 235px;
    height: 220px;
    border: 1px solid #c2c2c2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: #aaaaaa;
    margin-bottom: 15px;
}
.preview-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.join03 .btn_wrap,
.join04 .btn_wrap{
    margin-top: 55px;
}
input[name="status"]::placeholder{
    color: #000;
}
.join04 .join_table th{
    text-align: center;
}
.join04 .join_table thead th:not(.table_title){
    background-color: #f3f3f3;
}
/* 마이페이지 mypage */
.mypage .preview-box{
    width: 315px;
    height: 155px;
    margin-bottom: 0;
}
.mypage td.greyBox{
    background-color: #f3f3f3 !important;
}

/* 서브페이지 */
.board_normal input, .board_normal select {
    width: 100%;
    height: 33px;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 15px;
    box-sizing: border-box;
    border: 1px solid #c2c2c2;
    background: #fff;
}
/* 필수값 */
.board_normal input:required,
.board_normal select:required  {
    background: #fffbf1;
}
/* 수정 불가 + 값 있음 */
.board_normal input[readonly],
.board_normal input[disabled] {
    background: #f4f4f4;
    color: #000000;
}
.file-upload-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.file-list {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}
.file-item {
    display: flex;
    align-items: center;
    gap: 6px;
}
.file-name {
    color: #fa5353;
}
.file-upload-wrap .flex{
    margin-left: auto;
}
.file-upload-wrap .flex button{
    min-width: 80px;
    height: 29px;
    line-height: 29px;
    font-size: 14px;
}
.file-remove {
    cursor: pointer;
    color: #999;
    font-size: 14px;
}
.file-remove:hover {
    color: #000;
}
.board_list{
    margin-bottom: 40px;
}
/* 견적 포기 팝업 */
/* 배경 */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
}

/* 박스 */
.modal-box {
    width: 700px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* 헤더 */
.modal-header {
    height: 60px;
    background: #1aa9e2;
    color: #fff;
    text-align: center;
    padding: 16px;
    font-size: 18px;
}

/* 테이블 */
.modal-table {
    width: 100%;
    border-collapse: collapse;
}

.modal-table th {
    width: 160px;
    background: #eff6ff;
    text-align: left;
    padding: 20px 30px;
    border-bottom: 1px solid #c2c2c2;
    font-size: 15px;
    color: #000000;
}

.modal-table td {
    padding: 19px 23px;
    border-bottom: 1px solid #c2c2c2;
    font-size: 15px;
    color: #616161;
    font-weight: 500;
}

/* textarea */
.modal-table textarea {
    width: 100%;
    height: 160px;
    overflow: auto;
    border: 1px solid #c2c2c2;
    resize: none;
}
.modal-box .flex{
    justify-content: center;
    gap: 5px;
    margin: 17px 0 14px;
}
.modal-box .flex button{
    width: 80px;
    height: 40px;
    font-size: 16px;
}

/* board list 공지사항 리스트 */
.board_list_title {
padding: 10rem 0;
}
.board_list_warp {
/* padding-bottom: 10rem; */
/* margin-bottom: 10rem; */
position: relative;
}
.board_list_warp .list_top {
align-items: flex-end;
margin-bottom: 2rem;
}
.board_list_warp .search_area {
position: relative;
}
.board_list_warp .search_area input {
width: 27.3rem;
height: 7rem;
border: 1px solid #c3c3c3;
padding: 0 7rem 0 3rem;
font-size: 1.8rem;
background: url(/images/ico_search.png) 90% center no-repeat;
}
.board_list_warp .search_area input::placeholder {
font-size: 1.8rem;
padding: 2rem 3rem 2rem 0;
font-family: "Noto Sans KR", sans-serif;
letter-spacing: -0.1rem;
color: #c3c3c3;
}
form[name="frmSearch"] input[name="serTxt"]::placeholder {
font-size: 1.8rem;
padding: 2rem 3rem;
font-family: "Noto Sans KR", sans-serif;
letter-spacing: -0.1rem;
color: #c3c3c3;
}
.board_list_warp .search_area a {
width: 20%;
display: flex;
height: 7rem;
position: absolute;
top: 0;
right: 0;
background: url(/images/ico_search.png) center no-repeat;
}
.board_list_warp .board_list table.board_normal {
text-align: center;
border-top: 1px solid #000;
border-left: 0;
}
.board_list_warp .board_list table.board_normal tr {
border-bottom: 1px solid #c3c3c3;
}
.board_list_warp .board_list table.board_normal tr:last-child{
border-bottom: 1px solid #000;
}
.board_list_warp .board_list table.board_normal tr:last-child td{
border-bottom: 1px solid #000;
}
.board_list_warp .board_list table.board_normal tr th{
    border-right: 0;
    background-color: #f8f8f8;
}
.board_list_warp .board_list table.board_normal .board_point td {
    height: 60px;
/* padding: 2.5rem 0; */
}
.board_list .board_point td {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
word-break: break-all;
}
.board_list_warp .board_list table.board_normal tr td {
border-right: hidden;
/* font-size: 18px; */
line-height: 25px;
text-align: center;
word-wrap: break-word;
white-space: normal;
/* padding: 30px 0px; */
vertical-align: middle;
border-right: 0;
}
.board_list_warp .board_list table.board_normal .board_point td.f_mint {
font-weight: 500;
}
.board_list_warp .board_list table.board_normal .board_point:hover td.f_mint {
color: var(--red);
}
.board_list_warp .board_list table.board_normal .board_point td.f_mint:hover p a {
color: var(--red);
}
/* .board_list_warp .board_list table.board_normal .board_point.notice_tit {
background-color: #fafafa;
} */
.board_list_warp .board_list table.board_normal .board_point .new p {
display: inline-block;
}
.board_list_warp .board_list table.board_normal .board_point .new p::after {
content: "";
display: inline-block;
width: 1.7rem;
height: 1.7rem;
background: url(/images/ico_new.png) no-repeat bottom;
margin-left: 1rem;
background-size: contain;
}
.board_list_warp .board_list table.board_normal tr td.date{
    border-bottom: 0;
}
.board_list_warp .board_list table.board_normal tr td.date p{
    width: 100%;
    text-align: center;
}
/* .board_list_warp .board_list table.board_normal .board_point td:nth-child(1) {
width: 13%;
}
.board_list_warp .board_list table.board_normal .board_point td:nth-child(2) {
width: 65%;
}
.board_list_warp .board_list table.board_normal .board_point td:nth-child(3) {
width: 5%;
}
.board_list_warp .board_list table.board_normal .board_point td:nth-child(4) {
width: 17%;
} */

.pagination {
width: 100%;
margin: 0 auto;
margin-top: 4rem;
text-align: center;
}
.pagination ul {
display: inline-flex;
}
.pagination li a {
float: left;
color: #777777;
/* border: 1px solid #cbcbcb; */
width: 45px;
height: 45px;
line-height: 45px;
font-size: 18px;
}
.pagination .btn_page {
margin: 0 1rem;
}
.pagination .btn_page li a {
border-right: none;
}
/* .pagination .btn_page li:last-child a {
border-right: 1px solid #cbcbcb;
} */
.pagination li a.on {
color: #000000;
}
.pagination .btn_prev01 {
background: url(/images/ico_page_prev.png) no-repeat center center;
margin-left: 0.3rem;
}
.pagination .btn_next01 {
background: url(/images/ico_page_next.png) no-repeat center center;
margin-right: 0.3rem;
}
.list_top .list_title{
    font-size: 16px;
}
.search_wrap {
    display: flex;
    align-items: center;
    gap: 7px;
}
/* 셀렉트 */
.search_select {
    width: 150px;
    height: 33px;
    padding: 0 10px;
    border: 1px solid #c2c2c2;
    font-size: 14px;
}
/* 인풋 영역 */
.search_input_wrap {
    display: flex;
    align-items: center;
    width: 200px;
    height: 33px;
    border: 1px solid var(--bsub);
    padding: 0 10px;
    background: #fff;
}
.search_input_wrap .icon {
    margin-right: 8px;
    font-size: 14px;
}
.search_input_wrap input {
    border: none;
    outline: none;
    width: 100%;
    height: 31px;
    font-size: 12px;
}
/* 버튼 */
.search_btn {
    width: 80px;
    height: 33px;
    background: var(--bsub);
    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.search_btn:hover {
    background: var(--bsub);
}
/* 공통 뱃지 */
.status {
    height: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 6px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid;
    box-sizing: border-box;
}
/* 상태별 컬러 */
.status.submit {
    color: #007e95;
    border-color: #007e95;
}
.status.received {
    color: #4818a8;
    border-color: #4818a8;
}
.status.reviewing {
    color: #1a8be2;
    border-color: #1a8be2;
}
.status.approved {
    color: #00950e;
    border-color: #00950e;
}
.status.rejected {
    color: #95003f;
    border-color: #95003f;
}

/* 공지사항 view 뷰 페이지 */
.border_view {
width: 100%;
margin: 0 auto;
}
table.board_normal_view {
width: 100%;
border-top: 1px solid #cbcbcb;
table-layout: fixed;
}
table.board_normal_view tr {
border-bottom: 1px solid #cfcfcf;
}
table.board_normal_view tr:nth-of-type(1) {
border-top: 1px solid #000;
}
table.board_normal_view tr th {
height: 6rem;
box-sizing: border-box;
/* padding: 2.5rem 0; */
padding: 0 0rem 0 4rem;
text-align: left;
text-wrap: wrap;
font-size: 17px;
font-weight: 600;
line-height: 4rem;
background: #fafafa;
word-wrap: break-word;
white-space: normal;
}
table.board_normal_view tr td {
height: 6rem;
box-sizing: border-box;
/* padding: 2.6rem 0; */
padding: 0 5rem 0 4rem;
/* border-bottom: 1px solid #cfcfcf; */
font-size: 1.5rem;
word-wrap: break-word;
white-space: normal;
}
table.board_normal_view tr .board_info {
/* padding-left: 3%;
padding-right: 3%; */
font-size: 15px;
font-weight: 500;
padding: 0 5rem 0 0rem;
justify-content: flex-end;
align-items: center;
gap: 25px;
}
/* table.board_normal_view tr td.board_info span {
margin-right: 6rem;
} */
table.board_normal_view em {
word-break: keep-all;
text-wrap: nowrap;
font-weight: 500;
}
table.board_normal_view em::after {
content: "";
display: inline-block;
width: 0.1rem;
height: 1.7rem;
margin-left: 1.3rem;
margin-right: 1.3rem;
vertical-align: -0.2rem;
background-color: #000;
}
table.board_normal_view tr td.board_file_wrap div.board_file a {
margin-right: 2rem;
color: var(--red);
}
table.board_normal_view tr td.board_content {
padding: 3.5rem 4rem;
}
table.board_normal_view tr td.board_content p {
width: 100% !important;
}
table.board_normal_view tr td.prenext {
text-align: center;
font-weight: 500;
background: #f9f9f9;
white-space: normal;
padding: 0 33px 0 38px;
}
table.board_normal_view tr td.prenext img {
margin-left: 1.1rem;
margin-bottom: 0.5rem;
vertical-align: middle;
}
table.board_normal_view tr td.prenext_text {
padding-left: 2.5rem;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
word-break: break-all;
}
.board_btn {
display: flex;
justify-content: right;
}
.board_list_warp .btn_wrap {
    margin-top: 42px;
    display: flex;
    justify-content: right;
    gap: 6px;
}
.board_list_warp .btn_wrap .btn {
    width: 100px;
    height: 40px;
}

/* 계약업무 계약상세보기 */
.contract_view{
    gap: 30px;
    justify-content: space-between;
}
.contract_view .left_wrap{
    max-width: 600px;
}
.contract_view .right_wrap{
    max-width: 570px;
}
.img_box {
    width: 100%;
    height: 900px;
    position: relative;
    display: inline-block;
    border: 1px solid #c2c2c2;
    box-sizing: border-box;
}
.img_box img {
    width: 100%;
    max-width: 600px;
    display: block;
    object-fit: contain;
}

.zoom_icon {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: #888888;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.zoom_icon img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}

/* 모달 */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
}

.modal .close {
    position: absolute;
    top: 30px;
    right: 50px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}
.contract_view .download-btn{
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.contract_view .download_txt{
    border-right: 0px !important;
    text-align: left !important;
}
.memo {
    width: 100%;
    height: 80px;
    padding: 10px 15px;
    resize: vertical; /* 세로만 늘리기 */
    border: 1px solid #ccc;
}
.contract_view .board_list .board_area .board_normal td{
    padding: 13px 17px 13px 23px;
}
.contract_view .upload-btn{
    width: 105px;
}
.contract_view .btn_wrap{
    display: flex;
    justify-content: flex-end;
    gap: 3px;    
}
.contract_view .btn_wrap .btn{
    width: 100px;
    height: 38px;
    font-size: 14px;
}

/* 납품정보등록 */
.s_o_w.board_list .board_area .board_normal tr > *{
    padding: 15px 15px 15px 35px;
}
.s_o_w.board_list .board_area .board_normal tr > * .file-name{
    color: #000000;
}
.date_radio{
    justify-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
}
.date_radio .d-flex{
    gap: 3px;
    margin: 0;
    height: 34.5px;
}
.date_radio label{
    color: #000000 !important;
    font-weight: 400;
    white-space: nowrap;
}
.date_radio input[type="radio"] {
    height: 34px; 
}